<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Container</WebPublishMethod>
    <ContainerPublishMethod>NetSdk</ContainerPublishMethod>
    <ResourceId>/subscriptions/8ad1b912-39eb-43d7-be1f-56c4c85e8645/resourceGroups/rg-puzzle/providers/Microsoft.ContainerRegistry/registries/crge02</ResourceId>
    <ResourceName>crge02</ResourceName>
    <ResourceGroup>rg-puzzle</ResourceGroup>
    <Subscription>Azure for Students</Subscription>
    <RegistryUrl>crge02.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ProjectGuid>74f92f84-f3d8-4db9-9752-f2196742d834</ProjectGuid>
    <_TargetId>NetSdkAzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>